.btn {
    text-transform: uppercase;
    font-family: @header-font;
    font-weight: @btn-font;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
}
.btn-default {
    border: 1px solid rgba(0, 51, 102, 0.6);
    color: rgba(0, 51, 102, 0.6);
    background-color: transparent;
    &:hover {
    	border: 1px solid rgba(0, 51, 102, 0.6);
    	outline: none;
    	color: @white;
    	background-color: rgba(0, 51, 102, 0.6);
    }
    &:focus {
    	border: 1px solid rgba(0, 51, 102, 0.6);
    	outline: none;
    	color: @white;
    	background-color: rgba(0, 51, 102, 0.6);
    }
}
.thumbnail {
    height: 40.625em;
    &:hover {
        background-color: #000000;
    }
}